.location-search-input,
.location-search-input:active {
    height: 35px;
    width: 200px;
    border: 2px solid #0045AB;
    display: block;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}

.location-search-input:focus{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}


.autocomplete-dropdown-container {
    width:200px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    border-left: 1px solid #1889f8;
    border-right: 1px solid #1889f8;
    /*border-bottom: 1px solid #1889f8;*/
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    z-index: 2;
    opacity: 0.8;
}

.suggestion-item {
    padding: 8px;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
    z-index: 2;
    opacity: 0.8;
}

.suggestion-item--active {
    background-color: #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}